body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.game-board {
  position: relative;
  width: 80vmin;
  height: 80vmin;
  background-color: #000;
  background-size: cover; /* Ensure the background image covers the entire game board */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */
  border: 2px solid white;
  box-sizing: border-box; /* Ensure border size is included in the width and height */
}

.snake-segment {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: green;
  border-radius: 4px;
}

.food {
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.food.normal {
  background-color: red;
}

.food.special {
  background-color: gold; /* Special food color */
}

.barrier {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: gray;
  border-radius: 4px;
}

.score {
  color: white;
  font-size: 1.5em;
  margin-top: 10px;
}

.game-over {
  color: red;
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.game-over button {
  font-size: 1em;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
